.formControl {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 5px;

    label {
        font-size: 17pt;
        font-weight: 300;
    }

    select {
        padding: .5em 1em;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        background-color: #f1eded;
        font-size: 15pt;
        font-weight: 200;
        min-width: 500px;
    }
}