.profileHeader {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    h1 {
        font-size: 40pt;
        color: orange;
        font-weight: 800;
        letter-spacing: 1px;
    }

    p {
        border: 1px solid #d3d3d3;
        background-color: #f1eded;
        border-radius: 10px;
        padding: .5em 1em;
        margin: .5em 0 1em 0;
        width: fit-content;
        font-weight: 300;
    }
}